img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5%;
  height: 15%;
}
ion-input
{
  font-size: xx-large;
  color:white ;
  text-align: center;
}
ion-card-title
{
  font-size: xx-large;
  color:white;
}
ion-label{
  font-size: xx-large;
}

